*.pyc
*.ps
*.png
.spyproject
.DS_Store
.*.*~
*.*~
*.nfs*
frospy/util/gui.py
frospy/examples/local_codes.py
frospy/util/geodesy.s*
frospy/fortran_codes
frospy/docs/*aux
frospy/docs/*fdb_latexmk
frospy/docs/*fls
frospy/docs/*log
frospy/docs/*synctex.gz
frospy/docs/*toc
tmp_*

frospy/data/AD/*dat
frospy/data/AD/omega*
frospy/data/AD/*xml
frospy/data/AD/noise*
frospy/data/AD/cmt*
frospy/data/AD/AD*

frospy/data/CB
frospy/data/DE
frospy/data/HT
frospy/data/MW
frospy/data/PK
frospy/data/QM1
frospy/data/REM
frospy/data/RR
frospy/data/S20RTS
frospy/data/S40RTS
frospy/data/TCB
frospy/data/TZ
frospy/data/WZM
frospy/data/cnn

build_commands.sh
