*.pyc
*.ps
*.png
.spyproject
.DS_Store
.*.*~
*.*~
*.nfs*
frospy/util/gui.py
frospy/examples/local_codes.py
frospy/util/geodesy.s*
frospy/fortran_codes
frospy/docs/*aux
frospy/docs/*fdb_latexmk
frospy/docs/*fls
frospy/docs/*log
frospy/docs/*synctex.gz
frospy/docs/*toc
tmp_*

frospy/data/cnn

build_commands.sh
build
dist
frospy.egg-info
